.member {
    background-color: #f7f5f4;
  }
  .member h3 {
    font-family: Lora;
  }
  .member p {
    color: #5a524d;
  }
  
  .member h1 {
    color: #6c757d;
    font-size: large;
  }
  
  .member-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
  }
  .member-img-container {
    padding: 5.5rem;
    border-radius: 25px;
  }
  .member-textbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    padding-bottom: 9rem;
  }
  .member-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.7rem;
  }

  .text-container {
    text-align: justify;
  }